/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Red+Hat+Display:wght@300;400;500&family=Urbanist:wght@400;500&display=swap');

.footer-gradient {
  background: linear-gradient(
    180deg,
    rgba(10, 0, 255, 0) 0%,
    #423cd1 99.99%,
    #423cd1 100%
  );
}

.btn-purple, .btn-black {
  @apply border-4  bg-white px-4 self-center mt-3 py-2 font-redhat font-semibold border-b-8 rounded-2xl;
}
.btn-black {
  @apply border-black;
}
.btn-purple{
    @apply border-purple-900
}

.btn-purple:hover, .btn-black:hover{
    @apply border-b-4 
}

a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(#222b40, #222b40),
    linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
    linear-gradient(#feb2b2, #feb2b2);
  background-size: 0px 0px, 100% 0px, 0 0px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 100ms linear, background-position 200ms linear;
}

a:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}


.wrapper{
    
}

.section{

}

.columns{

}

.columns-container{

}

.img{

}

.footer{

}

.title{

}

.description{
    
}